<%- include('includes/head.ejs', { title: 'Twitter' }) %>
<link rel="stylesheet" href="/styles/welcome.css">
</head>
<body>
 
  <main>
    <div class="welcome-page">
     <img src="/styles/images/twitter.png" alt="Twitter logo" id="logo">
     <div class="text-content">
      <h1>Se întâmplă acum</h1>
      <h2>Alătură-te azi.</h2>
      <button><a href="/signup">Creeaza un cont</a></button>
      <h3>Ai deja un cont?</h3>
      <button><a href="/login">Conectare</a></button>
    </div>
  </div>
  </main>
</body>
</html>